#p2 {background-color: rgba(0, 255, 0, 0.3);}
/*body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}*/

body,h1,h2,h3,h4,h5,h6,p {font-family: "Roboto"; color: #4d4d4d;}
/*body,h1,h2,h3,h4,h5,h6 {font-family: "Shadows Into Light"}*/
body, html {
    height: 100%;
    line-height: 1.8;
}



a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 2px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.trans {
    /*background-color:transparent;*/
    background-color:rgba(0,0,0,0.35);
}

/*sobreescribi el quarter de w3 para que siga siendo 25% aun en baja resolucion*/
.w3-quarter.dos {width:24.99999%}
.w3-quarter.tres {width:24.99999%}

@media screen and (max-width: 480px) {
  .w3-quarter.dos {width:49.99999%}
  .w3-quarter.tres {width:49.99999%}
}

.w3-half.dos{width:49.99999%}

.lineaCatalogo {
  border-bottom:2px solid #dedddd;
}

.bordeAmarillo {
  /*border-bottom:5px solid #f05059;*/
  border-top:2px solid #faa41b;
  border-bottom:2px solid #faa41b;
  /*-webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 3s;*/
}
.bordeAmarillo2 {
  /*border-bottom:5px solid #f05059;*/
  /*border-top:2px solid #faa41b;*/
  border-bottom:2px solid #faa41b;
  /*-webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 3s;*/
}
a.anchor {
    display: block;
    position: relative;
    top: -42px;
    visibility: hidden;
}
/* image header */
.bgimg-1 {
    /*filter:grayscale(85%);*/
    background-position: center;
    background-size: cover;
    background-image: url("img/inicio10.jpg");
    min-height: 100%;
}
.bgimg-2 {
    /*filter:grayscale(85%);*/
    background-position: center;
    background-size: cover;
    /*background-color: #000;*/
    min-height: 100%;
}

.rb {
  font-family: 'Roboto', sans-serif;
font-weight: bold;
}
.rn {
  font-family: 'Roboto', sans-serif;
  /*font-weight: bold;*/
}
.alfa50 {
    background: rgba(0, 0, 0, 0.9);
}

.tangerine {
  font-family: 'Tangerine', serif;
  font-weight: bold;
}

.w3-navbar li  {
  float: right;
}
.w3-navbar li a {
  float: right;
    padding: 10px;
    font-size: 14px;
    /*height:80px;*/
}
/*.w3-navbar li a:hover:not(.active) {*/
.w3-navbar li a:hover {
    /*background-color: #ffffff;*/
    /*opacity: 0.9;*/
    /*color: #faa41b;*/
    /*color: rgba(255, 255, 0, 5.0);*/
    color:#fff;
    background-color: rgba(0, 0, 0, 0.0);
    /*background-color: #dedddd;*/
    /*background-color: #3e61ad;*/
    cursor:pointer;
}
.active {
  /*background-color: #000;*/
  /*border-bottom:5px solid #f05059;*/

    /*width: 100px;
    height: 100px;
    background-color: red;*/
    border-bottom:5px solid #3e61ad;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {border-bottom:5px solid #3e61ad;}
  5% {border-bottom:5px solid #f05059;}
  85% {border-bottom:5px solid #f05059;}
  100% {border-bottom:5px solid #3e61ad;}
}

/* Standard syntax */
@keyframes example {
  /*
    from {background-color: #f05059;}
    to {background-color: #3e61ad;}
    */
    0% {border-bottom:5px solid #3e61ad;}
    5% {border-bottom:5px solid #f05059;}
    85% {border-bottom:5px solid #f05059;}
    100% {border-bottom:5px solid #3e61ad;}
}
.mySlides {
  display:none;
  background-size: cover;
  min-height: 100%;
}
/*.w3-left, .w3-right, */
.w3-badge {cursor:pointer}
.w3-badge {height:14px;width:14px;padding:0px;
   margin-left:7px; margin-right: 7px; margin-bottom: 0px}
/*-------side*/
.w3-sidenav a:hover {
    /*background-color: #ffffff;*/
    /*opacity: 0.9;*/
    /*color: #faa41b;*/
    /*color: rgba(255, 255, 0, 5.0);*/
    color:#fff;
    /*background-color: rgba(255, 255, 0, 0.350);*/
    background-color: #3e61ad;
    /*border-bottom:5px solid #f05059;*/
}
.flecha {
  /*font-size: 50px;*/
  text-shadow: 1px 1px 2px #000000;
}
.landscape{
/*
    height: 200px;
    width: auto;
    overflow: hidden;
    */
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*
.portrait-crop img{
    width: 100%;
    height: 150%;
}
*/
.portrait {
  width: : 135%;
  height: auto;
  overflow: hidden;
}
/*---------------------------------------------------------------------------------------------*/
